 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://media.tenor.com/T-zDRVK4XdQAAAAd/tradinggif.gif'); /* Replace 'your-image.jpg' with the path to your background image */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .container {
            width: 35%;
            height: auto;
            background: var(--background);
            backdrop-filter: blur(0.5rem);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 1rem;
            box-shadow: 0 1.8rem 3.7rem var(--box_shadow);
        }
        .container input {
            margin-bottom: 10px;
        }
        @font-face {
            font-family: "Convert"; 
            src: url("gothice.ttf");
                  
        }
        h2{
            text-align: center;
            font-family: "Convert";
            margin-top: 0;
            color: #fff;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        .input-group {
            position: Middle;
        }
        .input-group input[type="number"]{
            max-width: 190px;
            padding: 15px 5px 10px 20px;
            font-size: 18px;
            border-radius: 25px;
            border: 1px solid #ccc;
            color: #222;
            box-shadow: Inset 0 1px 25px rgba(0, 0, 0, 0.55);
        }
         .input:focus {
            border: 2px solid #c3c6ce;
        }
         .input::placeholder {
            color: #555;
            transition: all 0.3s ease;
        }
         .input:focus::placeholder {
             color: #999;
        }
         .input-group select {
            max-width: 190px;
            border: none;
            outline: none;
            background: none;
            font-size: 18px;
            color: #222;
            padding: 15px 5px 10px 20px;
            box-shadow: Inset 0 1px 25px rgba(0, 0, 0, 0.55);
            border-radius: 25px;
        }
        .input-group i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            color: #717070;
            pointer-events: none;
        }
         .shadow__btn {
            padding: 10px;
            border: none;
            font-size: 15px;
            color: #fff;
            border-radius: 7px;
            letter-spacing: 4px;
            font-weight: 700;
            text-transform: uppercase;
            transition: 0.5s;
            transition-property: box-shadow;
        }
         .shadow__btn {
            background: rgb(0,140,255);
            box-shadow: 0 0 25px rgb(0,140,255);
        }
         .shadow__btn:hover {
             box-shadow: 0 0 5px rgb(0,140,255),
                         0 0 25px rgb(0,140,255),
                         0 0 50px rgb(0,140,255),
                         0 0 100px rgb(0,140,255);
        }
         @font-face {
            font-family: "Convert"; 
            src: url("gothice.ttf");
                  
        }
         #result {
            font-style: italic;
            font-weight: bold;
            color: #fff;
        }


          
 
